.add-book-container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select {
    height: 40px;
    overflow-y: scroll;
  }
  
  .submit-button-book {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .submit-button-book:hover {
    background-color: #218838;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .add-book-container {
      width: 90%;
      padding: 15px;
    }
  }
  